DATABASE_URL="postgresql://postgres:postgres@localhost:5432/finance_tracker"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/finance_tracker"

AUTH_SECRET=""
AUTH_URL="http://localhost:3000"

NBRB_API_URL="https://api.nbrb.by/exrates"

DISABLE_ERD="false"
